:root{
    --color-01: #FFFCF2;
    --color-02: #CCC5B9;
    --color-03: #403D39;
    --color-04: #252422;
    --color-05: #EB5E28;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #bd5d38;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #bd5d38;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
}

/**MOBILE FIRST**/

/***************************************MENU NAVEGAÇÃO MOBILE**************************************/

.main-container__profile-img, 
.main-container--hide{
    display: none;
}

.main-container__nav-bar{
    background-color: var(--bs-primary);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.main-container__nav-bar-row{
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    align-items: center;
}

.button-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background-color: var(--bs-primary)
}

.button-menu:hover{ cursor: pointer; }

.name-emph{
    color: var(--color-01);
    font-size: 1.25rem;
}

.main-container__nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 15px;
    z-index: 1000;
}

.main-container__nav a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 800;
}

.main-container__nav a:hover{ color: rgba(255, 255, 255, 0.8); }

/*********************************SECTION ABOUT*****************************************/

.main-container__header-content{
    display: flex;
    flex-flow: column nowrap;
    padding: 80px 16px;
}

.main-container__content{ margin-top: 50px; }

.name{
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-04);
}

.main-container__name-emph{ color: var(--bs-orange); }

.main-container__data{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--bs-secondary);
    margin-bottom: 48px;
}

.main-container_email-contact a{ 
    color: var(--bs-primary);
    font-weight: 500; 
    text-decoration: underline solid var(--bs-primary) 2px;
}

.main-container__about{
    font-size: 1.13rem;
    font-weight: 400;
    color: var(--bs-gray-600);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 48px;
}

.main-container__social-media{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    margin-bottom: 48px;
}

.main-container__link-social{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-gray-700);
    padding: 15px 15px;
    border-radius: 50%;
}

.main-container__link-social:hover{             
    background-color: var(--color-05);
    transition: background-color 0.5s;
    animation-name: hover-btn;
    animation-duration: 0.50s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal; 
}


.main-container__btn-curriculo{
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: transparent;
    width: 160px;
    padding: 12px 6px;
    border-radius: 5px;
    background-color: var(--bs-primary);
    color: var(--bs-light);
}

.main-container__btn-curriculo:hover{
    background-color: var(--color-04);
    transition: background-color 0.5s;
}

@keyframes hover-btn {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/****************SECTION EXPERIENCIA*********************/