:root{
    --color-01: #FFFCF2;
    --color-02: #CCC5B9;
    --color-03: #403D39;
    --color-04: #252422;
    --color-05: #EB5E28;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #bd5d38;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: rgb(173, 181, 189);
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #bd5d38;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
}

/**MOBILE FIRST**/

/***************************************MENU NAVEGAÇÃO MOBILE**************************************/

.main-container__profile-img, 
.main-container--hide{
    display: none;
}

.main-container__nav-bar{
    background-color: var(--bs-primary);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.main-container__nav-bar-row{
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    align-items: center;
    gap: 15px;
}

.button-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background-color: var(--bs-primary)
}

.button-menu:hover{ cursor: pointer; }

.name-emph{
    color: var(--color-01);
    font-size: 1.25rem;
}

.main-container__nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 15px;
    z-index: 1000;
}

.main-container__nav a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 800;
}

.main-container__nav a:hover{ color: rgba(255, 255, 255, 0.8); }

/*********************************SECTION ABOUT*****************************************/

.main-container__header-content{
    display: flex;
    flex-flow: column nowrap;
    padding: 80px 16px;
}

.main-container__content{ margin-top: 50px; }

.name{
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-04);
    margin-bottom: 5px;
}

.main-container__name-emph{ color: var(--bs-orange); }

.main-container__data{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--bs-secondary);
    margin-bottom: 48px;
}

.main-container__city,
.main-container__diviser,
.main-container__neighborhood,
.main-container_email-contact,
.main-container__office{
    display: inline-block;
    margin-bottom: 5px;
}

.main-container_email-contact a{ 
    color: var(--bs-primary);
    font-weight: 500; 
    text-decoration: underline solid var(--bs-primary) 2px;
}

.main-container__about{
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--bs-gray-600);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 48px;
}

.main-container__about a{
    color: var(--bs-primary);
}

.main-container__social-media{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    margin-bottom: 48px;
}

.main-container__link-social{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-gray-700);
    padding: 15px 15px;
    border-radius: 50%;
}

.main-container__link-social:hover{             
    background-color: var(--color-05);
    transition: background-color 0.5s;
    animation-name: hover-btn;
    animation-duration: 0.50s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal; 
}


.main-container__btn-curriculo{
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: transparent;
    width: 180px;
    padding: 12px 6px;
    border-radius: 5px;
    background-color: var(--bs-primary);
    color: var(--bs-light);
}

.main-container__btn-curriculo:hover{
    background-color: var(--color-04);
    transition: background-color 0.5s;
}

.main-container__btn-curriculo:focus{
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--color-05);     
}

@keyframes hover-btn {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/****************STYLES SECTION COMMONS*********************/

.section__content{
    display: flex;
    flex-flow: column nowrap;
    padding: 80px 16px;
}

.title-section{
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    color: var(--bs-gray-dark);
    margin-bottom: 48px;
}

.section__title{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    color: var(--bs-gray-dark);
}

.section__subtitle{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-gray);
    margin-bottom: 18px;
}

.section__description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-gray-600);
    margin-bottom: 18px;
}

.section__date-interval{ color: var(--bs-orange); }

.line-diviser{
    border: none;
    border-bottom: 1px solid var(--bs-gray-400);
}

/**********************SECTION SKILLS******************/

.tools{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.workflow{
    list-style-type: none;
    padding-left: 15px;
}

.workflow__item{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--bs-gray-600);
    margin-bottom: 8px;
}

.workflow__icon{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 8px;
}

.workflow__icon img{ display: block; }

/*************************SECTION INTERESSES*****************************/

.description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-gray-600);
}

.description:nth-of-type(1){ margin-bottom: 15px; }

/*************************SECTION PROJECTS*********************************/
.projects{
    display: flex;
    flex-flow: column wrap;
    gap: 35px;
    align-items: center;
}

.projects__card{
    width: auto;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgba(33, 37, 41, 0.1), -1px -0px 10px 1px rgba(33, 37, 41, 0.1);
}

.projects__link-view-project{
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.projects__link-view-project img{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.projects__link-view-project:hover img{
    transform-origin: center;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.projects__title-link{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 18px 0;
    padding: 0 15px;
}

.projects__title-link a{
    display: block;
    text-decoration: none;
}

.projects__title-link a{
    content: url(../images/folder-solid-gray.svg);
    display: block;
    width: 25px;
    height: 25px;
}

.projects__title-link a:hover{
    content: url(../images/open-folders-gray.svg);
}

.projects__title{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-gray);
    text-align: left;
}

.projects__details{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 18px;
    color: var(--bs-gray-600);
    padding: 0 15px;
}

.section__description-projects{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-gray-600);
    margin-bottom: 25px;
}

/**btn page up*/
.btn-page-up{
    border: none;
    display: flex;
    background-color: var(--bs-orange);
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 15px;
    right: 7px;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5px solid rgba(255, 255, 255, 0.55);
}

.btn-page-up:hover{ background-color: var(--bs-dark); }

/**footer*/
.footer{
    background-color: var(--bs-orange);
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.footer a{
    text-decoration: none;
    color: var(--bs-gray-100);
}

.footer a:hover{
    font-weight: 700;
    color: var(--bs-gray-300);
}

/**BADGES**/

.badges{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 10px;
    margin-bottom: 18px;
}

/**BAGES STYLES COMMONS**/

.badge__ilustration{
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge__ilustration img{
    display: block;
    width: 14px;
    height: 14px;
}

.badge__text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.badge{
    padding: 3px;
    width: 100px;
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    gap: 5px;
}

/**BADGE JS**/

.badge__js{ background-color: #323330; }

.badge__text_js, 
.badge__text_css,
.badge__text_html,
.badge__text_php,
.badge__text_postg,
.badge__text_boostrap,
.badge__text_jquery,
.badge__text_chart,
.badge__text_datatables,
.badge__text_apache,
.badge__text_bem{ 
    color: #fff; 
}

.badge__css{ background-color: #1572b6; }

.badge__html{ background-color: #e34f26; }

.badge__php{ background-color: #777bb4; }

.badge__postg{background-color: #316192;}

.badge__boostrap{ background-color: #563d7c;}

.badge__jquery{ background-color: #0769ad;}

.badge__chart{ background-color: #f5788d;}

.badge__datatables{ background-color: #3C81D6;}

.badge__apache{ background-color: #d42029;}

.badge__bem{ background-color: #8A8A9B;}

/****************BREAKPOINT 375px to mobile**********************/
@media screen and (max-width: 375px) {
    /*section about*/
    .name{ font-size: calc(1.7rem + 5.3vw); }
    
    .name-emph{ font-size: calc(0.9rem + 1.1vw); }

    .main-container__data, .main-container_email-contact a{ font-size: calc(1rem + 1.5vw); }

    .main-container__btn-curriculo{
        padding: 12px 6px;
        width: auto;
    }

    /*STYLES COMMONS ON SECTIONS*/
    .title-section{ font-size: calc(1.2rem + 4vw); }
    
    .section__title,
    .section__subtitle{ font-size: calc(1.1rem + 2vw); }

    /*SECTION PROJECTS*/
    .projects__card{ width: auto; }

    /*btn page up*/
    .btn-page-up{ bottom: 60px; }
}

/********BREAKPOINT 768px to on tablets**********/
@media screen and (min-width: 768px) {
    /*SECTION ABOUT*/
    .main-container__header{ min-height: 100vh; }

    .name{ font-size: 4.4rem; }

    .main-container__link-social{
        width: 56px;
        height: 56px;
    }

    .main-container__link-social img{ display: block; }

    /*STYLES COMMONS ON SECTIONS*/
    .title-section{ font-size: 2.8rem; }
    
    .section__title{ font-size:  1.7rem; line-height: 1.2;}

    .section__subtitle{ font-size:  1.5rem;}

    .section__row{
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
    }

    .section__info{ flex: 1 1; }

    .section__date-interval{
        line-height: 1.2;
        padding-top: 2px;
    }

    /*SECTION PROJECTS*/
    .projects{
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, 1fr)); /*repeat(2, 350px)*/
        grid-auto-rows: max-content;
        justify-content: center;
        gap: 25px;
        align-items: stretch;
    }

    .projects__card{ width: auto; /*350px*/ }

    .projects__details{ margin-bottom: 20px; }

    .section__description-projects{
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        color: var(--bs-gray-600);
        margin-bottom: 25px;
    }

    /*btn page up*/
    .btn-page-up{
        bottom: 15px;
        right: 7px;
    }
}

/*********************BREAKPOINT DESKTOP 992px*************************/
@media screen and (min-width: 992px) {
    /*nav bar desktop*/
    .main-container__nav-bar-row{ display: none; }

    .main-container__nav-bar{
        top: 0;
        left: 0;
        width: 272px;
        min-height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .main-container__profile-img, 
    .main-container--hide{ display: flex; }

    .main-container--hide{ flex-flow: column nowrap; }

    .main-container__profile-img{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 8px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .main-container__profile-img img{
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }

    .main-container__nav{ align-items: center; }
    
    .main-container__nav a{ letter-spacing: 0.5px; }

    .main-container__content{
        margin-left: 272px;
        margin-top: 0;
    }

    .main-container__header-content,
    .section__content{ padding: 80px 48px; }

    /*section about*/
    .name{ font-size: 5.3rem; }

    /*styles commons on sections*/
    .title-section{ font-size: 3.2rem; }
    
    .section__title{ font-size:  1.9rem; }

    /*SECTION PROJECTS*/
    .projects{  gap: 35px; }

    .projects__img{ height: auto; }

    .projects__img img{
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .footer{ border-left: 0.5px solid rgba(255, 255, 255, 0.55); }
}

/**breakpoint desktop 1440px**/
@media screen and (min-width: 1440px) {
    /*SECTION PROJECTS*/
    .projects{ grid-template-columns: repeat(3, minmax(min-content, 381px)); } /*345px*/

    .projects__card{ 
        width: auto;
        display: block; 
    }

    .projects__img{
        height: auto;
        border-radius: 8px 8px 0 0;
    }
}
